body{
    background-color: #F8F8F8;
}
.root{
    background-color: white;
}
.search{
    float: right;
}
.autocomplete{
    float: right;
}
.bottom{
    position: relative;
    left: 210px;
    bottom:300px;
}
.nav-bar {
    width: 170px;
     background-color: #6495ED;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    top:200px;
}
.nav-bar a {
    background-color: #6495ED;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    top:200px;
}
.form{
	float: right;
	border: 3px solid black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}