body{
    background-color: #F8F8F8;
}
.root{
    background-color: white;

}
.search{
    float: right;
}
.autocomplete{
    float: right;
}
.bottom{
    position: relative;
    left: 210px;
}
.nav-bar {
  /* background-color: #6495ED; */
  background: linear-gradient(to top, #252c42,#405b8f);
    float: left;
    color: white;
    display: table;
    padding: 12px;
    text-decoration: none;
    position:absolute;
    z-index: 1;
    top: 0px;
   left: 0px;
   width: 13%;
   height: 100%;
}
.nav-bar a {
    color: white;
    display: table;
    padding: 12px;
    text-decoration: none;
}
.form{
    float: right;
    border: 3px solid black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 86%;
    right: 150px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


Add CommentCollapse 